<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

    <title>NFLPogađalica</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
{% load static %}


<nav class="navbar navbar-expand-lg" style="background: #013369;">

    <a class="navbar-brand text-white" href="/NflWeb/home">NFL Pogađalica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/NflWeb/odabirkolazaokladu">Pogađalica <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/NflWeb/odabirkola">Pregled kola</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/NflWeb/odabirkolazapregled">Pregled oklada</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Korisne stranice
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item " style="color: #013369;" href="https://www.NFL.com" target="_blank">NFL</a>
                    <a class="dropdown-item " style="color: #013369;" href="https://global.espn.com/nfl/"
                       target="_blank">ESPN</a>
                    <a class="dropdown-item " style="color: #013369;" href=https://www.pff.com/" target="_blank">PFF</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link text-white" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Welcome, {{user.username}}</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link text-white" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/register">Registriraj se</a>
            </li>

            {% endif %}

        </ul>
    </div>
</nav>

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }} " {% endif %}><strong>{{ message }}</strong></p>
    {% endfor %}
</div>
{% endif %}
<body>
{% block content %}

{% endblock %}


</body>
</html>
