{% extends "main/header1.html" %}

{% block content %}

{% load static %}


<div class="container-fluid text-center mt-2">
    <div class="row content">
        <div class="col-sm-3">
            <div class="card m-2 text-white" style="width: 20rem; background: #013369;">
                <div class="card-body">
                    <h5 class="card-title">Upute</h5>
                    <p class="card-text">Upute je pripremio vrijedni kolega Šimun!</p>
                    <a class="text-white" href="{% static  'docs/Rulebook.pdf' %}"><u>Upute</u></a>
                </div>
            </div>
            <div class="card m-2 text-white" style="width: 20rem; background: #013369;">
                <div class="card-body">
                    <h5 class="card-title">Tablica</h5>
                    <p class="card-text">Ovo je glavna tablica bodova</p>
                    <a class="text-white" href="/NflWeb/tablicabodova"><u>Tablica bodova</u></a>
                </div>
            </div>
            <div class="card m-2 text-white" style="width: 20rem; background: #013369;">
                <div class="card-body">
                    <h5 class="card-title">Upis utakmica</h5>
                    <p class="card-text">Ovdje administratori mogu mjenjati utakmice</p>
                    {% if user.is_superuser %}
                    <a class="text-white" href="/NflWeb/upis_utakmice_formset"><u>Upis utakmica</u></a>
                    {% else %}
                    <p>Nisi administrator</p>
                    {% endif %}
                </div>
            </div>
            <div class="card m-2 text-white" style="width: 20rem; background: #013369;">
                <div class="card-body">
                    <h5 class="card-title">Upis kola</h5>
                    <p class="card-text">Ovdje administratori mogu mjenjati kola</p>
                    {% if user.is_superuser %}
                    <a class="text-white" href="/NflWeb/upis_kola_formset"><u>Upis kola</u></a>
                    {% else %}
                    <p>Nisi administrator</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-5 text-left">
            <h1>Dobrodošli</h1>
            <p>Ovo je početna stranica ovogodišnje NFL pogađalice, sva pravila možete vidjeti na linku desno,
                a iznad se nalaze linkovi na samu pogađalicu! Uživajte!</p>
            <p>
                <img src="{% static  'images/mbdesign.png' %}" width="300" height="300" alt="home">
            </p>
            <hr>
            <h3>Hvala</h3>
            <p>Frani Mušiću bez kojega ovoga projekta ne bi bilo</p>
        </div>
        <div class="col-sm-4 text-left">
            <div class="m-2">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/F_JF8oSxXtM"
                        title="Ja nisam kockar, ali gubim" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="m-2 mt-3">
                <iframe width="450" height="200" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/144231617&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

            </div>

        </div>
    </div>
</div>

<footer id="sticky-footer" class="page-footer font-small blue fixes-bottom">
    <div class="footer-copyright text-center py-3">
        <p>© 2022 NFL Enterprises LLC. NFL and the NFL shield design are registered trademarks of the National Football
            League.The team names, logos and uniform designs are registered trademarks of the teams indicated. All other
            NFL-related trademarks are trademarks of the National Football League. NFL footage © NFL Productions LLC.
        </p>
    </div>
</footer>

{% endblock %}
