{% extends "main/header1.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    {% if user.is_authenticated %}
    <h2> Popis Weekova </h2>
    <table class="table" style="...">
        <thead>
        <th><h1>Kolo</h1></th>
        </thead>
        {%for kolo in sva_kola %}
        <tr>
            <td><a href="/NflWeb/kolo{{kolo.broj_kola}}">{{kolo.broj_kola}}</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <div class="container py-5">
            <h1>Register</h1>
            <form method="POST">
                {% csrf_token %}
                {{ register_form|crispy }}
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
            <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
        </div>
        {% endif %}
    </table>
</div>

{% endblock %}